<div class="hero-logo">
  <div class="slogan">Let's Play</div>
</div>

<div class="rando"></div>
<div class="random"></div>
<div class="more-random"></div>
<div class="tiny-random">
  <div class="circle">
    +
  </div>
</div>
