
$mainBrandColor: #1C6E8C;
$secondaryFocus: #A2DBE0;

html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  background-color: honeydew;
  color: $mainBrandColor;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}

button {
  background: none;
  font-size: .1em;
}

.background-container {
  display: grid;
  height: 100vh;
  width: 100vw;
  z-index: -100;
  grid-template-areas:
    "left-sidebar background-top right-sidebar"
    "left-sidebar background-boxes right-sidebar"
    "left-sidebar background-bottom right-sidebar";
  grid-template-rows: 80px 800px 40px;
  grid-template-columns: minmax(0, auto) 800px minmax(0, auto);
  position: absolute;
  line-height: 0;
  overflow: hidden;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;

  position: absolute;
  // top: 50%;
  // left: 50%;
  /* bring your own prefixes */
  // transform: translate(-50%, -50%);
}

// display: grid;
// height: 100vh;
// width: 100vw;
// grid-template-areas:
//   "nav"
//   "main"
//   "footer";
// grid-template-rows: 80px auto 40px;
// grid-template-columns: minmax(40rem, auto);
// padding: 0 1em;

.background-top {
  display: grid;
  grid-area: background-top;
}

.background-bottom {
  display: grid;
  grid-area: background-bottom;
}

.background-boxes-container {
  display: grid;
  grid-area: background-boxes;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1rem;
    
  .background-box {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: $secondaryFocus;
    border-radius: 10%;
    opacity: 40%;

    .circle {
      background: lightblue;
      border-radius: 50%;
      width: 80%;
      height: 80%;
    }
  }
}

.box--expanded {
  grid-column: span 3;
  grid-row: span 3;
  .box__img {
    transform: scale(1.03);
  }
}

.layout {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-areas:
    "nav"
    "main"
    "footer";
    grid-template-rows: 80px auto 40px;
}

div {
  background-color: honeydew;
}

.flash-container {
  grid-area: flash;
}

.footer {
  grid-area: footer;
  text-align: center;
  background: transparent;
  margin-top: 1rem;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.25s ease;
}
.page-enter,
.page-leave-active {
  opacity: 0;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.main-container {
  background-color: transparent;
  grid-area: main;
  display: grid;
}

.nav {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.left.sidebar {
  grid-area: left-sidebar;
  align-items: end;

  .logo p {
    transform: rotate(-90deg) translateX(4em) translateY(2em);
  }
}

.right.sidebar {
  grid-area: right-sidebar;

  .logo p {
    transform: rotate(90deg) translateX(4em) translateY(2em);
  }
}

.sidebar {
  position: relative;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  z-index: 50;
}

.sidebar .logo p {
  overflow: visible;
  transform-origin: 50% 50%;
}

.logo {
  position: absolute;
  background-color: transparent;
  font-family: 'Times New Roman', Times, serif;
}

.logo p {
  font-size: 4em;
}

// INDEX STYLES
.index-header,
.index-footer {
  display: flex;
  justify-content: center;
  grid-column: 1 / -1;
  background: none;
  font-family: 'Times New Roman', Times, serif;
}

.index-row {
  display: flex;
  // grid-column: 1 / -1;
  border-radius: .4rem;
  background-color: transparent;
  border: 1px solid white;
  // padding: 55rem;
  font-size: .5em;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin: 1em;

  .index-row-link {
    color: $mainBrandColor;
    text-overflow: ellipsis;
    background: none;
    
    @media only screen and (min-device-width: 480px) and (max-device-width: 720px) {
      font-size: 2em;
    }

    @media only screen and (min-device-width: 720px) {
      font-size: 3em;
    }
  }

  .secondary {
    display: flex;
    flex-direction: column;
    background: none;
    align-items: center;
    justify-content: space-around;
    font-size: .5em;

    @media only screen and (min-device-width: 480px) and (max-device-width: 720px) {
      font-size: 1em;
    }

    @media only screen and (min-device-width: 720px) {
      font-size: 2em;
    }

    .metadata {
      background: none;
    }

    .link {
      align-self: flex-end;

      a {
        color: $secondaryFocus;
      }

      .button {
        padding: 0 1em;
        font-weight: 500;
      }
    }
  }
}

.index-row-link {
  display: flex;
  flex: 1;
  text-decoration: none;
}

// SHOW STYLES

section {
  margin-left: auto;
  margin-right: auto;
}
