
$mainBrandColor: #1C6E8C;
$secondaryFocus: #A2DBE0;

html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  background-color: honeydew;
  color: $mainBrandColor;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}
