  <%= button "Pools", to: Routes.pool_index_path(@conn, :index), method: :get %>
  <%= button "Entries", to: Routes.entry_index_path(@conn, :index), method: :get %>
  <%= if @current_user && @current_user.role == :admin do %>
    <%= button "Games", to: Routes.game_index_path(@conn, :index), method: :get %>
  <% end  %>
