<ul>
  <li><%= link "Pools", to: Routes.pool_index_path(@conn, :index) %></li>
  <li><%= link "Entries", to: Routes.entry_index_path(@conn, :index) %></li>
<%= if @current_user && @current_user.role == :admin do %>
  <li><%= link "Games", to: Routes.game_index_path(@conn, :index) %></li>
<% end  %>
</ul>
